body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  width: 80%;
  margin: 10px auto 0;
  padding: 0.3em;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav span {
  margin: 0.5em;
}

.logo img {
  width: 30px;
}

.button {
  background: #283891;
  padding: 10px;
  border-radius: 7px;
}

.button:hover {
  background: #57bee8;
  transition: 500ms;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}

main {
  max-width: 75%;
  margin: auto;
}

header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2,
#employee-list {
  text-align: left;
  width: 100%;
}

h1 {
  color: #283891;
}

h2,
h3 {
  color: #444;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1em;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 80%;
}
footer span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
